<!DOCTYPE html>
<html>
  <head>
    <title>My Blog Post</title>
    <link rel="stylesheet" href="./static/mystyle.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <h1>My Blog Post</h1>
    <p>
      Welcome to my blog! Today, I am writing about something that I am
      passionate about.
    </p>
    <h2>Introduction</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna
      eu pharetra pretium, metus purus malesuada elit, id efficitur elit ipsum
      eget ex. Sed ut congue augue. Sed auctor gravida magna.
    </p>
    <h2>Body</h2>
    <p>
      In hac habitasse platea dictumst. Donec malesuada, nibh id bibendum
      mollis, urna quam congue quam, eget blandit metus metus nec mauris. Sed
      rhoncus nibh euismod, luctus ligula eu, luctus risus. Praesent auctor, est
      id feugiat tincidunt, risus augue euismod enim, non faucibus nisl nisi vel
      odio.
    </p>
    <h2>Conclusion</h2>
    <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae; Sed eget enim id nisl tincidunt commodo. Aliquam erat
      volutpat. Sed aliquam, risus in malesuada convallis, risus est luctus
      massa, eget euismod nulla sapien eu nibh.
    </p>
    <p>
      Thank you for reading my blog post! I hope you found it informative and
      interesting.
    </p>
  </body>
</html>
